@import 'tailwindcss';

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply appearance-none;
  }

  input[type='number'] {
    appearance: textfield;
  }

  button,
  [role='button'] {
    @apply cursor-pointer;
  }

  button:disabled,
  [role='button']:disabled {
    @apply cursor-default;
  }
}

@utility container {
  @apply mx-auto px-4;
}

@utility gradient-rewind {
  @apply bg-gradient-to-r from-blue-500 to-teal-400 bg-clip-text text-transparent;
}

@utility focus-ring {
  @apply ring-1 ring-neutral-300 focus-visible:outline-none;
}

@utility required {
  &::after {
    @apply ml-1 align-text-bottom text-red-500 content-['*'];
  }
}

@utility skeleton {
  @apply animate-pulse rounded-full bg-neutral-500 px-4 py-2;
}

@utility skeleton--large {
  @apply px-6 py-3;
}

@utility skeleton--no-animate {
  @apply animate-none;
}

/* prettier-ignore */
@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

@layer components {
  .button {
    @apply block w-fit rounded-2xl bg-gradient-to-r from-blue-800 to-teal-700 px-8 py-3 text-center font-semibold transition-all;

    &[disabled] {
      @apply cursor-not-allowed opacity-50;
    }

    &:hover:not([disabled]) {
      @apply opacity-75;
    }

    &.button-sm {
      @apply rounded-xl px-4 py-1 text-sm;
    }

    &.button--plex {
      @apply from-yellow-500 to-yellow-700;
    }
  }

  .button-card {
    @apply block w-fit rounded-sm px-1 leading-normal font-semibold uppercase;

    font-size: 0.65rem;
  }

  .gradient-plex {
    @apply bg-gradient-to-r from-yellow-500 to-yellow-700 bg-clip-text text-transparent;
  }

  .rewind-stat {
    @apply gradient-rewind inline-block;
  }

  .rewind-cat {
    @apply gradient-rewind inline-flex items-center;

    > img,
    > svg {
      @apply ml-1 w-8 text-[#2DACC8];
    }
  }

  .link {
    @apply text-neutral-400 hover:text-neutral-500;
  }

  .link-light {
    @apply hover:opacity-80;
  }

  .link-dark {
    @apply hover:opacity-60;
  }

  .nav {
    @apply flex flex-wrap items-center justify-center gap-3 gap-y-1 text-xs font-medium uppercase sm:gap-4 sm:text-sm 2xl:text-base;
  }

  .nav-link {
    @apply text-neutral-400 hover:text-white aria-disabled:pointer-events-none aria-disabled:cursor-not-allowed aria-disabled:opacity-50;

    &[aria-selected='true'],
    &[aria-current='page'] {
      @apply text-white;
    }
  }

  .icon-stats-container {
    @apply flex flex-wrap items-center gap-2 text-xs sm:text-sm lg:text-base;
  }

  .icon-stat-wrapper {
    @apply flex items-center gap-1 rounded-full bg-neutral-600/50 py-0.5 pr-3 pl-2 italic sm:gap-2;

    > svg {
      @apply size-5 text-black;
    }

    &.icon-stat-wrapper--clean {
      @apply bg-transparent p-0 not-italic;
    }
  }

  .glass-sheet {
    @apply rounded-3xl bg-neutral-200/20 p-4 backdrop-blur-lg sm:p-8 2xl:p-10;
  }

  .input {
    @apply block w-full rounded-xl border-none bg-neutral-500 px-3 py-2 placeholder:text-neutral-400 focus-within:bg-neutral-400;

    &:focus {
      @apply focus-ring bg-neutral-400 placeholder:text-neutral-300;
    }

    &[required] + .label > .label-wrapper {
      @apply required;
    }

    &.input--small {
      @apply px-2 py-1 text-sm;
    }
  }

  .input-wrapper {
    @apply relative flex flex-col-reverse gap-2 sm:flex-row-reverse sm:items-center;

    &:focus-within {
      .label {
        @apply text-white;
      }
    }
  }

  .select-wrapper {
    @apply relative w-full;

    &::after {
      @apply pointer-events-none absolute inset-y-2 right-12 -mr-px h-auto w-px bg-neutral-300;

      content: '';
    }

    &.select-wrapper--small::after {
      @apply right-7;
    }
  }

  .label {
    @apply text-xs text-neutral-300 peer-focus-within:text-white sm:w-48 sm:shrink-0 sm:text-right sm:text-sm;

    &.label--start {
      @apply mt-0.5 self-start;
    }

    > small {
      @apply block text-xs text-neutral-400;
    }
  }

  .switch {
    @apply flex w-fit items-center justify-end gap-2 sm:flex-row-reverse;

    .indicator {
      @apply relative h-6 w-12 shrink-0 cursor-pointer rounded-full bg-neutral-500;

      &::after {
        @apply absolute inset-y-0 left-0.5 my-auto size-5 rounded-full bg-white transition content-[''];
      }
    }

    &[data-selected='true'] .indicator {
      @apply bg-neutral-400 after:translate-x-6;
    }

    &:focus-within {
      .indicator {
        @apply focus-ring;
      }

      .label {
        @apply text-white;
      }
    }
  }

  .checkbox-wrapper {
    @apply flex cursor-pointer items-center gap-1;

    &[data-selected='true'] .checkbox::after {
      @apply absolute inset-0 text-center text-white content-['\2713'];
    }

    &:focus-within {
      .checkbox {
        @apply focus-ring bg-neutral-400;
      }
    }
  }

  .checkbox {
    @apply relative size-6 rounded-lg bg-neutral-500;
  }

  .heading-settings {
    @apply border-b border-neutral-500 pb-2 text-right font-medium text-neutral-500 uppercase group-hover:text-white sm:w-48;
  }

  .group-settings {
    @apply grid gap-4;
  }

  .select-input,
  select.input {
    @apply relative cursor-pointer appearance-none bg-no-repeat pr-14;

    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23D4D4D4"><path d="M7 10l5 5 5-5z"/></svg>');
    background-position: right 12px center;
    background-size: 24px;

    &.select-input--small,
    &.input--small {
      @apply pr-10;

      background-position: right 7px center;
      background-size: 16px;
    }
  }

  @keyframes move-bg {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(1000px, 0, 0);
    }
  }

  .bg-twinkling {
    @apply absolute inset-y-0 right-0 w-[10000px];

    background: transparent url('/twinkling.png') repeat;
    animation: move-bg 50s linear infinite;
  }

  .bg-clouds {
    @apply absolute inset-y-0 right-0 w-[10000px];

    background: transparent url('/clouds.png') repeat;
    animation: move-bg 100s linear infinite;
  }

  .chat-reply {
    p {
      @apply mb-2 last:mb-0;
    }

    ul,
    ol {
      @apply mb-2;
    }

    > ul,
    > ol {
      @apply last:mb-0;
    }

    ul {
      @apply list-inside list-disc;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-up {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-fade-up {
    @apply opacity-0;

    animation-name: fade-up;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .animate-fade-in {
    @apply opacity-0;

    animation: fade-in 0.5s ease forwards;
  }
}
