@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply transition-all bg-gradient-to-r from-blue-800 to-teal-700;

    display: block;
    width: fit-content;
    text-align: center;
    padding: theme('spacing.3') theme('spacing.8');
    border-radius: theme('borderRadius.2xl');
    font-weight: theme('fontWeight.semibold');

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      opacity: 0.25;
      cursor: not-allowed;
      user-select: none;
    }
  }

  .button-card {
    @apply px-1 text-[0.65rem] font-semibold uppercase rounded-sm w-fit bg-gradient-to-r block;
  }

  .skeleton {
    @apply animate-pulse;

    border-radius: theme('borderRadius.full');
    background: theme('colors.slate.500');
    padding: theme('spacing.2') theme('spacing.4');

    &--large {
      padding: theme('spacing.3') theme('spacing.6');
    }

    &--no-animate {
      @apply animate-none;
    }
  }

  .rewind-stat {
    display: inline-block;
    font-size: 80%;
    font-weight: 600;
    color: theme('colors.black');
  }

  .link {
    color: theme('colors.blue.300');
    font-weight: 500;
    text-decoration: underline;
  }

  .nav-link {
    &[aria-selected='true'],
    &[aria-current='page'] {
      color: theme('colors.teal.300');
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(120deg, #0f766e, #4338ca, #6b21a8);
  }

  .animation-delay-200 {
    animation-delay: 0.3s;
  }

  .animation-delay-400 {
    animation-delay: 0.6s;
  }

  .min-height-screen {
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
      min-height: -webkit-fill-available;
    }
  }
}
