@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply block w-fit rounded-2xl bg-gradient-to-r from-blue-800 to-teal-700 px-8 py-3 text-center font-semibold transition-all;

    &[disabled] {
      @apply cursor-not-allowed opacity-50;
    }

    &:hover {
      @apply opacity-75;
    }

    &-sm {
      @apply rounded-xl px-4 py-1 text-sm;
    }
  }

  .button-card {
    @apply block w-fit rounded-sm px-1 font-semibold uppercase leading-normal;

    font-size: 0.65rem;
  }

  .skeleton {
    @apply animate-pulse rounded-full bg-neutral-500 px-4 py-2;

    &--large {
      @apply px-6 py-3;
    }

    &--no-animate {
      @apply animate-none;
    }
  }

  .rewind-stat {
    @apply inline-block font-semibold text-black;

    font-size: 80%;
  }

  .rewind-cat {
    @apply inline-flex items-center text-teal-300;

    > img,
    > svg {
      @apply ml-1 w-8;
    }
  }

  .link {
    @apply text-neutral-400 hover:text-neutral-500;
  }

  .nav {
    @apply flex flex-wrap items-center justify-center gap-3 gap-y-1 text-xs font-medium uppercase sm:gap-4 sm:text-sm 2xl:text-base;
  }

  .nav-link {
    @apply text-neutral-400 hover:text-white;

    &[aria-selected='true'],
    &[aria-current='page'] {
      @apply text-white;
    }
  }

  .icon-stats-container {
    @apply flex flex-wrap items-center gap-2 text-xs sm:gap-3 sm:text-sm lg:text-base;
  }

  .icon-stat-wrapper {
    @apply flex items-center gap-1 italic sm:gap-2;

    > svg {
      @apply size-5 text-black;
    }
  }

  .glass-sheet {
    @apply rounded-3xl bg-neutral-200/20 p-4 backdrop-blur-lg sm:p-8 2xl:p-10;
  }

  .focus-ring {
    @apply ring-1 ring-neutral-300;
  }

  .input {
    @apply block w-full rounded-xl border-none bg-neutral-500 px-3 py-2 placeholder:text-neutral-400 focus-within:bg-neutral-400;

    &:focus {
      @apply focus-ring bg-neutral-400 placeholder:text-neutral-300;

      + .label {
        @apply text-white;
      }
    }

    &[required] + .label::after {
      @apply ml-1 align-text-bottom text-red-500 content-['*'];
    }
  }

  .input-wrapper {
    @apply flex flex-col-reverse gap-2 sm:flex-row-reverse sm:items-center;
  }

  .label {
    @apply shrink-0 text-xs font-medium uppercase text-neutral-300 sm:w-48 sm:text-right sm:text-sm;

    &--start {
      @apply mt-0.5 self-start;
    }
  }

  .switch {
    @apply flex w-fit items-center justify-end gap-2 sm:flex-row-reverse;

    .indicator {
      @apply relative h-6 w-12 cursor-pointer rounded-full bg-neutral-500;

      &::after {
        @apply absolute inset-y-0 left-0.5 my-auto size-5 rounded-full bg-white transition content-[''];
      }
    }

    &[data-selected='true'] .indicator {
      @apply bg-neutral-400 after:translate-x-6;
    }

    &:focus-within {
      .indicator {
        @apply focus-ring;
      }

      .label {
        @apply text-white;
      }
    }
  }

  .datefield {
    @apply input mr-auto flex w-fit gap-1;

    .datefield-segment {
      @apply px-1.5;

      &[data-type='literal'] {
        @apply p-0 text-neutral-400;
      }

      &[data-placeholder] {
        @apply text-neutral-400;
      }

      &:focus {
        @apply rounded-lg bg-neutral-500 outline-none;
      }
    }

    &:focus-within {
      .datefield-segment {
        &[data-placeholder],
        &[data-type='literal'] {
          @apply text-neutral-300;
        }
      }

      ~ .label {
        @apply text-white;
      }
    }
  }

  .checkbox-wrapper {
    @apply flex cursor-pointer items-center gap-1;

    &[data-selected='true'] .checkbox::after {
      @apply absolute inset-0 text-center text-white content-['\2713'];
    }

    &:focus-within {
      .checkbox {
        @apply focus-ring;
      }

      ~ .label {
        @apply text-white;
      }
    }
  }

  .checkbox {
    @apply relative size-6 rounded-lg bg-neutral-500;
  }
}

@layer utilities {
  .animate-fade-up {
    @apply opacity-0;

    animation: fade-up 0.5s ease forwards;

    @keyframes fade-up {
      from {
        transform: translateY(1rem);
        opacity: 0;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .animate-fade-in {
    @apply opacity-0;

    animation: fade-in 0.5s ease forwards;

    @keyframes fade-in {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  .animation-delay-300 {
    animation-delay: 0.3s;
  }

  .animation-delay-600 {
    animation-delay: 0.6s;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
