@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply block px-8 py-3 font-semibold text-center transition-all bg-gradient-to-r from-blue-800 to-teal-700 w-fit rounded-2xl;

    &:hover {
      @apply opacity-80;
    }

    &[disabled] {
      @apply opacity-25 cursor-not-allowed select-none;
    }
  }

  .button-card {
    @apply px-1 text-[0.65rem] font-semibold uppercase rounded-sm w-fit bg-gradient-to-r block;
  }

  .skeleton {
    @apply px-4 py-2 rounded-full animate-pulse bg-slate-500;

    &--large {
      @apply px-6 py-3;
    }

    &--no-animate {
      @apply animate-none;
    }
  }

  .rewind-stat {
    @apply inline-block font-semibold text-black;

    font-size: 80%;
  }

  .link {
    @apply font-medium text-blue-300 underline;
  }

  .nav-link {
    &[aria-selected='true'],
    &[aria-current='page'] {
      @apply text-teal-300;
    }

    &:hover {
      @apply opacity-75;
    }
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(120deg, #0f766e, #4338ca, #6b21a8);
  }

  .animation-delay-200 {
    animation-delay: 0.3s;
  }

  .animation-delay-400 {
    animation-delay: 0.6s;
  }

  .min-height-screen {
    @apply min-h-screen;

    @supports (-webkit-touch-callout: none) {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      min-height: -webkit-fill-available;
    }
  }
}
