@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply block w-fit rounded-2xl bg-gradient-to-r from-blue-800 to-teal-700 px-8 py-3 text-center font-semibold transition-all;

    &:hover {
      @apply opacity-75;
    }

    &[disabled] {
      @apply cursor-not-allowed select-none opacity-25;
    }

    &-sm {
      @apply rounded-xl px-4 py-1 text-sm;
    }
  }

  .button-card {
    @apply block w-fit rounded-sm bg-gradient-to-r px-1 text-[0.65rem] font-semibold uppercase leading-normal;
  }

  .skeleton {
    @apply animate-pulse rounded-full bg-slate-500 px-4 py-2;

    &--large {
      @apply px-6 py-3;
    }

    &--no-animate {
      @apply animate-none;
    }
  }

  .rewind-stat {
    @apply inline-block font-semibold text-black;

    font-size: 80%;
  }

  .rewind-cat {
    @apply inline-flex items-center text-teal-300;

    > img,
    > svg {
      @apply ml-1 w-8;
    }
  }

  .link {
    @apply font-medium text-blue-300 underline;
  }

  .nav {
    @apply flex flex-wrap items-center justify-center gap-3 gap-y-1 text-xs font-medium uppercase text-neutral-200 sm:gap-4;
  }

  .nav-link {
    &[aria-selected='true'],
    &[aria-current='page'] {
      @apply text-teal-300;
    }

    &:hover {
      @apply opacity-75;
    }
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(120deg, #0f766e, #4338ca, #6b21a8);
  }

  .animation-delay-200 {
    animation-delay: 0.3s;
  }

  .animation-delay-400 {
    animation-delay: 0.6s;
  }

  /* TODO: can this be replaced with the new dvh, lvh, svh units? */
  .min-height-screen {
    @apply min-h-screen;

    @supports (-webkit-touch-callout: none) {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      min-height: -webkit-fill-available;
    }
  }
}
