@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply transition-all bg-gradient-to-r from-blue-800 to-teal-700;

    display: block;
    width: fit-content;
    text-align: center;
    padding: theme('spacing.3') theme('spacing.8');
    border-radius: theme('borderRadius.2xl');
    font-weight: theme('fontWeight.semibold');

    &:hover {
      opacity: 0.8;
    }
  }
}
