@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply transition-all bg-gradient-to-r from-blue-800 to-teal-700;

    display: block;
    width: fit-content;
    text-align: center;
    padding: theme('spacing.3') theme('spacing.8');
    border-radius: theme('borderRadius.2xl');
    font-weight: theme('fontWeight.semibold');

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      opacity: 0.25;
      cursor: not-allowed;
      user-select: none;
    }
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(120deg, #0f766e, #4338ca, #6b21a8);
  }
}

/* TODO: https://github.com/vercel/next.js/issues/42345 */
[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
